@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

body{
  height: 100vh;
  overflow: hidden;
  background: rgb(29,29,29);
  transition: backgroundColor 2s ease;
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'VT323', monospace;
}

#mobile{
  visibility: hidden;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,1);
  color: white;
  font-size: 10vh;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


.fadeOut {
  opacity: 0 !important;
  transition: opacity 2s !important;
}


#splash{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 97;
  background-color: rgba(0,0,0,1);

}

#loadingAnim3{
  visibility: visible;
  position: fixed;
  width: 80vh;
  height: 80vh;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
  z-index: 98;
  animation: roatation 10s infinite linear;
}

#loadingAnim2{
  visibility: visible;
  position: fixed;
  opacity: .75;
  filter: blur(10px);
  left:0;
  width: 30vh;
  height: 7vh;
  background: limegreen;
  z-index: 99;
}

#loadingAnim{
  visibility: visible;
  position: fixed;
  width: 30vh;
  height: 30vh;
  background: url(../images/Starship_Cropped.png) no-repeat center center;
  background-size: contain;
  z-index: 100;
  /* animation: roatation 4s infinite linear; */
}



#enterButton{
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  /* background-color: rgba(255, 255, 255, .75); */
  height: 5vh;
  width: auto;
  font-size: 5vh;
  border: .2vh solid red;
  border-radius: 2vh;
  text-decoration: none;
  animation: pulse 1s infinite ;
  animation-direction: alternate;
  z-index: 101;
}

#enterButton a:visited{
color: rgba(0,0,0,1);
}

#enterButton a:hover{
  color: rgba(0,255,255,1);
}

#background{
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1000;
}

 #backgroundVideo{
   left: 50%;
   min-height: 100%;
   min-width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%)
 }
 #backgroundVideo video{
   left: 50%;
   min-height: 100%;
   min-width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%)
 }

#cockpit{
  width: 100%;
  height: 100vh;
}

#cockpitStyle{
  object-fit: cover;
  object-position: bottom;
}

#cockpit img{
  width: inherit;
  min-height: inherit;
  height: inherit;
}

.hologramWrapper{
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:100vh;
  max-height: 100vh;
}

.hologramContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */

}

  #hologramContent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    pointer-events: none;
  }

  #hologramContent video {
  position: absolute;
  left: 0;
  width:  100%;
  height: 100%;
}

.buttonWrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 35%;
}
.buttons{
  position: relative;
  overflow: hidden;
  margin: .5vh;
  padding: 1vh;
  min-width: 5vh;
  width: max-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 4vh;
  z-index: 11;
  /* background: rgba(0,255,0,.3); */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .4), 0 0 1em rgba(255, 255, 255, .3), 0 0 0.2em rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .75);
  font-size: 4vh;
  opacity: 1;
  transition: opacity .3s linear;
  justify-content: left;
  align-items: center;
}

/* .buttons:hover{
  min-width: 5vh;
  width: max-content;
} */


/* .buttons:hover{
  background: rgba(0,255,0,.7);
  hoverSound.play();
} */
/* .buttons:active{
  animation: buttonShrink .2s;
} */

#button0{
  opacity: 0;
  pointer-events: none;
}

#button1{
  opacity: 0;
  pointer-events: none;
}
#button2{
  opacity: 0;
  pointer-events: none;
}
#button3{
  opacity: 0;
  pointer-events: none;
}
#button4{
  opacity: 0;
  pointer-events: none;
}

@keyframes buttonShrink {
  from {width: 2.5%; height: 6.25%;}
  to {width: 0%; height: 0%;}
}

@keyframes pulse {
  from{font-size: 5vh;}
  to{font-size: 10vh;}
  from{font-size: 10vh;}
  to{font-size: 5vh;}

}

@keyframes roatation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 600px) {
  #mobile{
    visibility: visible;
  }
}
