*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow: hidden;
  background: rgb(29,29,29);
  transition: backgroundColor 2s ease;
}

#progress{
  height: 1px;
  background: rgb(126, 126, 126);
  position: absolute;
  top: 45%;
  opacity: 1;
  z-index: 100;
  transition: width .1s ease;
}
.fadeOut {
  opacity: 0 !important;
  transition: opacity 2s !important;
}


#splash{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0,0,0,.75);
}


#enterButton{
  visibility: hidden;
  position: relative;
  display: flex;
  color: black;
  background-color: rgba(0, 255, 0, .75);
  left: 50%;
  top: 50vh;
  width: auto;
  height: 5vh;
  justify-content: center;
  border: 1px solid red;
  text-decoration: none;
}

#enterButton:hover{
  background-color: rgba(255, 0, 0, 1);
}

#enterButton:visited{
color: rgba(0,0,0,.75);
}


#background{
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1000;
}

 #backgroundVideo{
   left: 50%;
   min-height: 100%;
   min-width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%)
 }
 #backgroundVideo video{
   left: 50%;
   min-height: 100%;
   min-width: 100%;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%)
 }

#cockpit{
  width: 100%;
  height: 100vh;
  /* background: url('../assets/images/spaceBorder.jpg')  no-repeat center top;
  background-size: cover; */
}

#cockpitStyle{
  object-fit: cover;
  object-position: bottom;
}

#cockpit img{
  width: inherit;
  min-height: inherit;
  height: inherit;
}

.hologramWrapper{
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:100vh;
  max-height: 100vh;
}

.hologramContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */

}

  #hologramContent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }

  #hologramContent video {
  position: absolute;
  left: 0;
  width:  100%;
  height: 100%;
  /* visibility: hidden; */
}

.buttons{
  position: relative;
  margin: .8%;
  z-index: 10;
  width: 2.5%;
  height: 6.25%;
  left: 31%;
  background: rgba(0,255,0,.3);
}
/* .buttons:hover{
  background: rgba(0,255,0,.7);
  hoverSound.play();
} */
/* .buttons:active{
  animation: buttonShrink .2s;
} */

#button1{
  visibility: hidden;
}

#button2{
  visibility: hidden;
}
#button3{
  visibility: hidden;
}
#button4{
  visibility: hidden;
}

@keyframes buttonShrink {
  from {width: 2.5%; height: 6.25%;}
  to {width: 0%; height: 0%;}

}
@@keyframes fadeOut {
  100%{
    opacity: 0;
    visibility: hidden;
  }

}
